
      
    @import url(https://fonts.googleapis.com/css?family=Gugi);

    * {
        box-sizing: border-box;
        position: relative;
      }
      
      html, body {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        background-color: aliceblue;
      }

      @media screen and (max-width: 362px) {
        html {
            font-size: 12px;
        }
      }

      h1 { font-size: 1.5rem; }
      h2 { font-size: 1.20rem; }
      h3 { font-size: 1.17rem; }
      h5 { font-size: .83rem; }
      h6 { font-size: .75rem; }
     
      h1, h2 {
        font-family: 'Gugi', 'serif';
        text-align: right;
      }

      .myTitle {
        width: 100%;
        padding-top: 1.75rem;
      }


      hr {
        border-top: 2px solid black;
        width: 100%;
        margin-left: 0.5rem;
        padding: 0 0.75rem;
      }

      @media screen and (max-width: 362px) {
        hr {
          width: 100%;
          border: 0;
          border-top: 2px solid black;
          margin-left: 0.5rem;
          padding: 0 0.75rem;
        }
      }

      .logo img {
        width: 100%;
      }

      .myTitle {
          width: 100%;
        }
     
      .mainPic img {
        width: 100%;
        height: 25rem;
        margin-left:0.5rem;
        padding: 0.75rem;
        }
        
    @media screen and (max-width: 362px) {
    .mainPic img {
      width: 100%;
      height: 15rem;
      margin-left:0.5rem;
      order: 1;
      padding: 0.75rem;
    }

    .paragraph {
      order: 2
    }

  }

    
    .subtitle {
      width: 100%;
      margin-left: 0.5rem;
    
    }


    .smallpic img {
      width: 100%;
      height: 200px;
      margin: 0.5rem;
    }

    /*
    .smallpicrow {
      height: 10rem;
    }
    */


    @media screen and (max-width: 362px) {
      .figure {
        width: 100%;
        height: 2rem;
        padding: 1rem;
      }
    }


     .left {
       float: left;
     } 

     figcaption {
      font-size: 0.75rem;
      padding:0 0.5rem;
      text-align: center;
    }

    

    

     /*
      @media screen and (min-width: 450px) {
        .light_blue, .green {
          width: 50%;
        }
      }

       @media screen and (min-width: 550px) {
        .red {
          width: 33%
        }

        .orange {
          width: 67%  
        }
      }

         @media screen and (min-width: 800px) {
            {
             width: 800px;
             margin: auto;
           }   
        }
     */
  